---
layout: archive
title: "Supervision"
permalink: /talks/
author_profile: true
---

<p>
  I love to collaborate and work with fresh students!<br>
  If you're interested in <strong>Machine Learning for Speech Processing Applications</strong> — including 
  <strong>ASR</strong>, <strong>TTS</strong>, <strong>Deepfake Detection</strong>, <strong>LLMs</strong>, 
  <strong>Arabic NLP</strong>, and <strong>Speech Systems</strong> — feel free to reach out to me. 
  I am more than willing to dedicate time and help guide your research and projects.
</p>

<p>Currently, I am supervising:</p>
<ul>
  <li>
    <a href="https://www.linkedin.com/in/eneserdemerd/?originalSubdomain=de" target="_blank"><strong>Enes Erdoğan</strong></a> – Master's Student at TU Berlin
  </li>
  <li>
    <a href="https://www.linkedin.com/in/f%C3%A9di-kallel-16862b319/?originalSubdomain=de" target="_blank"><strong>Fédi Kallel</strong></a> – Master's Student at TU Berlin
  </li>
</ul>

<p>
  If you're a <strong>student looking for a Master's thesis opportunity in Germany or anywhere in the EU</strong>, 
  don’t hesitate to contact me — I’d be happy to discuss potential collaborations!
</p>


<!-- <p>I love to collaborate and work with fresh students! If you're interested in Machine Learning for Speech Processing Applications, including ASR, TTS, Deepfake Detection, LLMs, Arabic NLP, and Speech Systems, feel free to reach out to me. I am more than willing to dedicate time and help guide your research and projects. Don't hesitate to contact me if you'd like to work together!</p> -->
<!-- 
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
